.error {
    color: red;
    font-size: initial;
}
.menu-option{ // Extending the properties of the global btn-group that already has a display:grid
    display: grid;
    grid-template-columns: 1fr 1fr;
}