<div class="container">
    <h1 class="menu-title">RPG website!</h1>
    <div class="menu">
        <div class="menu-options">
            <a routerLink="/new-game" class="btn menu-option">
                New Game
            </a>
            <a class="btn menu-option">
                Load Game
            </a>
            <a href="http://localhost:8000/admin/" target="_blank" class="btn menu-option">
                Admin
            </a>
            <a (click)="signOut()" class="btn menu-option">
                Sign out
            </a>
        </div>
    </div>
</div>
